@mixin button {
    padding: 8px 20px;
    background-color: $action;
    border: 2px solid $action;
    color: white;
    border-radius: 4px;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: .5px;
    font-weight: 600;
    text-transform: uppercase;

    &:hover {
        background-color: $secondary;
    }
}

button,
input[type="submit"],
a.button {
    @include button;

    &.button_small {
        padding: 4px 12px;
        font-size: 12px;
    }
}