// Variables

// Colors
$dark: #303339;
$primary: #8a9482;
$secondary: #d1ccc7;
$action: #9C655F;
$neutral: #f5f3f1;

$black: #333;

// margins / padding
$gut-lg: 60px;
$gut-md: 40px;
$gut-sm: 20px;
$gut-xs: 10px;